body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

@font-face {
    font-family: 'humblle_rought_all_capsRg';
    src: url('./fonts/humblle_rought_caps-webfont.woff2') format('woff2'),
         url('./fonts/humblle_rought_caps-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.search {
    z-index: 1;
    position: fixed;
    top: 9px;
    right: 9px;
}

.search-field {
    width: 320px;
    padding: 5px;
}

.siteTitle {
  width: 320px;
  padding: 5px;
  background-color: #002782;
  border: 1px darkgrey solid;
}

.title {
  color: white;
  font-family: 'humblle_rought_all_capsRg';
  text-decoration: none;
  font-size: 2em;
  font-weight: 600;
}

ul {
    background-image: url(./listback.jpg);
    border: 1px solid darkgrey;
    overflow: auto;
    padding: 0px;
    margin: 0;
    max-height: 200px;
    overflow: auto;
}

.box {
    cursor: pointer;
    padding: 5px;
    font-weight: 800;
    color: white;
}

.box:hover {
    background-color: #269abc;
    color: white;
}

.button {
    text-align: center;
    padding: 5px;
    background-color: #002782;
    color: white;
    font-weight: 600;
    border: 1px darkgrey solid;
    cursor: pointer;
    width: 334px;
}
